@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-secondary-950 text-neutral-900 antialiased font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea,
span {
  @apply font-sans;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-chakra;
  }

  h5,
  p {
    @apply font-sans;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms;
    animation-duration: 0.01ms;
  }
}
